{% extends "baseadmin.html" %}
{% block content %}
{% load static %}


<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>

<!-- <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" type="text/css" rel="stylesheet">
<link href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap.min.css" type="text/css" rel="stylesheet"> -->
<script lang="javascript">
  var settings = {
    "crossDomain": true,
    "url": "http://127.0.0.1:8000/api/create/user/",
    "method": "GET",
    "processData": false,
    contentType: 'application/json'
  }
  $.ajax(settings).done(function (response) {
    console.log(response);
    $('#example1').DataTable({
      data: response.data,
      columns: [
        { "data": "first_name" },
        { "data": "username" },
      ]
    });
    $('#example1 tr').append('<td style="min-width:140px !important;"><a class="btn btn-info btn-sm"  href="#"><i class="fas fa-pencil-alt"></i></a> <a class="btn btn-danger btn-sm" onclick="Deleting_Data() href=""> <i class="fas fa-trash"></a></td>')
  });
</script>
<script type="text/javascript">
  function Deleting_Data() {
    var table = document.getElementById('example1');
    var cells = table.getElementsByTagName('td');
    for (var i = 0; i < cells.length; i++) {
      var cell = cells[i];
      cell.onclick = function () {
        var rowId = this.parentNode.rowIndex;
        var rowsNotSelected = table.getElementsByTagName('tr');
        for (var row = 0; row < rowsNotSelected.length; row++) {
          rowsNotSelected[row].style.backgroundColor = "";
          rowsNotSelected[row].classList.remove('selected');
        }
        var rowSelected = table.getElementsByTagName('tr')[rowId];
        rowSelected.className += " selected";
        console.log(rowSelected.cells[0].innerHTML);
        $.ajax({
          url: 'http://127.0.0.1:8000/api/all-user/detail/' + rowSelected.cells[0].innerHTML,
          type: "DELETE",
          contentType: "application/json",
          success: function () {
            bootbox.alert("Data deleted successfully.");
            ReloadGrid();
          },
          error: function () {
          }
        });
      }
    }
  }
</script>
<div class="content-wrapper">
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>All User</h1>
        </div>
      </div>
    </div>
  </section>
  <section class="content">
    <div class="card">
      <div class="card-header" style=" background-color:#007bff;">
        <h3 class="card-title" style="color:white; size: 30px;  padding-right: 5px;">User</h3>
        <div class="card-tools">
          <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
            <i class="fas fa-minus"></i></button>
          <button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip" title="Remove">
            <i class="fas fa-times"></i></button>
        </div>
      </div>
      <div class="card-body p-0">
        <div class="table-responsive" style='padding: 5px; overflow-x:auto;'>
          <table id="example1" class="table table-striped table-bordered" style="width: 100%;">
            <thead>
              <tr>
                <th>Nmae</th>
                <th> Username/Email </th>
                <!-- <th> Action </th> -->
              </tr>
            </thead>
            <tbody>
              <!-- {% for i in usr %}
              <tr>
                <td>{{ i.first_name }}</td>
                <td>{{ i.email }}</td>
                <td>
                  <div class='row'>
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="radio1">
                      <label class="form-check-label">Teacher</label>
                    </div>&ensp;&ensp;
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="radio1">
                      <label class="form-check-label">Student</label>
                    </div>
                  </div>
                </td>
              </tr>
              {% endfor %} -->
            </tbody>
          </table>

          <!-- <table id="example" class="display" width="100%"></table> -->
        </div>
      </div>
  </section>
</div>
{% endblock %}