<!DOCTYPE html>
<html>
{% load static %}

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>PyBron School</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{% static 'plugins/fontawesome-free/css/all.min.css' %}">
  <link rel="stylesheet" href="{% static 'plugins/overlayScrollbars/css/OverlayScrollbars.min.css' %}">
  <link rel="stylesheet" href="{% static 'dist/css/adminlte.min.css' %}">
  <link rel="stylesheet" href="{% static 'plugins/datatables-bs4/css/dataTables.bootstrap4.css' %}">
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'plugins/ekko-lightbox/ekko-lightbox.css' %}">
  <link rel="stylesheet" href="{% static 'plugins/summernote/summernote-bs4.css' %}">
  <link rel="stylesheet" href="{% static 'plugins/select2/css/select2.min.css' %}">
  <link rel="stylesheet" href="{% static 'plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css' %}">
  <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
</head>

<body class="hold-transition sidebar-mini layout-fixed">
  <div class="wrapper">
    <nav class="main-header navbar navbar-expand navbar-white navbar-light">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" data-widget="pushmenu" href="#"><i class="fas fa-bars"></i></a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
          <a class="nav-link btn btn-primary" href="{% url 'login' %}">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-widget="control-sidebar" data-slide="true" href="#">
            <i class="fas fa-th-large"></i>
          </a>
        </li>
      </ul>
    </nav>
    <aside class="main-sidebar sidebar-dark-primary elevation-4">
      <a href="#" class="brand-link">
        <img src="{% static 'dist/img/AdminLTELogo.png' %}" alt="Vips Logo" class="brand-image img-circle elevation-3"
          style="opacity: .8">
        <span class="brand-text font-weight-light">PyBron School</span>
      </a>
      <div class="sidebar">
        <nav class="mt-2">
          <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
            <li class="nav-item">
              <a href="{% url 'dashbord' %}" class="nav-link">
                <i class="nav-icon fas fa-th"></i>
                <p>
                  Dashboard
                </p>
              </a>
            </li>
            <li class="nav-item">
              <a href="{% url 'all-user' %}" class="nav-link">
                <i class="nav-icon fas fa-users"></i>
                <p>
                  All User
                </p>
              </a>
            </li>
            <li class="nav-item">
              <a href="{% url 'teacher' %}" class="nav-link">
                <i class="nav-icon fas fa-user"></i>
                <p>
                  Teacher
                </p>
              </a>
            </li>
            <li class="nav-item">
              <a href="{% url 'student' %}" class="nav-link">
                <i class="nav-icon fas fa-users"></i>
                <p>
                  Student
                </p>
              </a>
            </li>
            <li class="nav-item">
              <a href="{% url 'register' %}" class="nav-link">
                <i class="nav-icon fas fa-pen"></i>
                <p>
                  Registration Form
                </p>
              </a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">
                <i class="nav-icon fas fa-lock"></i>
                <p>
                  Logout
                </p>
              </a>
            </li>
            <li class="nav-header">--End--</li>
          </ul>
        </nav>
      </div>
    </aside>
    {% block content %}

    {% endblock %}
    <footer class="main-footer">
      <strong>Copyright &copy; 2020 <a href="#">Credicxo</a>.</strong>
      All rights reserved.
      <div class="float-right d-none d-sm-inline-block">
        <a href="https://www.pybron.com"><b>PyBron School</b></a>
      </div>
    </footer>
    <aside class="control-sidebar control-sidebar-dark">
    </aside>
  </div>
  <script src="{% static 'plugins/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js' %}"></script>
  <script src="{% static 'dist/js/adminlte.js' %}"></script>
  <script src="{% static 'dist/js/demo.js' %}"></script>
  <script src="{% static 'plugins/jquery-mousewheel/jquery.mousewheel.js' %}"></script>
  <script src="{% static 'plugins/raphael/raphael.min.js' %}"></script>
  <script src="{% static 'plugins/jquery-mapael/jquery.mapael.min.js' %}"></script>
  <script src="{% static 'plugins/jquery-mapael/maps/usa_states.min.js' %}"></script>
  <script src="{% static 'plugins/chart.js/Chart.min.js' %}"></script>
  <script src="{% static 'dist/js/pages/dashboard2.js' %}"></script>
  <script src="{% static 'plugins/filterizr/jquery.filterizr.min.js' %}"></script>
  <script src="{% static 'plugins/jquery-ui/jquery-ui.min.js' %}"></script>
  <script src="{% static 'plugins/ekko-lightbox/ekko-lightbox.min.js' %}"></script>
  <script src="{% static 'plugins/bs-custom-file-input/bs-custom-file-input.min.js' %}"></script>
  <script src="{% static 'plugins/datatables/jquery.dataTables.js' %}"></script>
  <script src="{% static 'plugins/datatables-bs4/js/dataTables.bootstrap4.js' %}"></script>
  <script>
    $(function () {
      $(document).on('click', '[data-toggle="lightbox"]', function (event) {
        event.preventDefault();
        $(this).ekkoLightbox({
          alwaysShowClose: true
        });
      });
      $('.filter-container').filterizr({ gutterPixels: 3 });
      $('.btn[data-filter]').on('click', function () {
        $('.btn[data-filter]').removeClass('active');
        $(this).addClass('active');
      });
    })
  </script>
  <script type="text/javascript">
    $(document).ready(function () {
      bsCustomFileInput.init();
    });
  </script>
  <script>
    $(function () {
      $('.select2').select2()
      $('.select2bs4').select2({
        theme: 'bootstrap4'
      })
      $('#datemask').inputmask('dd/mm/yyyy', { 'placeholder': 'dd/mm/yyyy' })
      $('#datemask2').inputmask('mm/dd/yyyy', { 'placeholder': 'mm/dd/yyyy' })
      $('[data-mask]').inputmask()
      $('#reservation').daterangepicker()
      $('#reservationtime').daterangepicker({
        timePicker: true,
        timePickerIncrement: 30,
        locale: {
          format: 'MM/DD/YYYY hh:mm A'
        }
      })
      $('#daterange-btn').daterangepicker(
        {
          ranges: {
            'Today': [moment(), moment()],
            'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
            'Last 7 Days': [moment().subtract(6, 'days'), moment()],
            'Last 30 Days': [moment().subtract(29, 'days'), moment()],
            'This Month': [moment().startOf('month'), moment().endOf('month')],
            'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
          },
          startDate: moment().subtract(29, 'days'),
          endDate: moment()
        },
        function (start, end) {
          $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'))
        }
      )
      $('#timepicker').datetimepicker({
        format: 'LT'
      })
      $('.duallistbox').bootstrapDualListbox()
      $('.my-colorpicker1').colorpicker()
      $('.my-colorpicker2').colorpicker()
      $('.my-colorpicker2').on('colorpickerChange', function (event) {
        $('.my-colorpicker2 .fa-square').css('color', event.color.toString());
      });
      $("input[data-bootstrap-switch]").each(function () {
        $(this).bootstrapSwitch('state', $(this).prop('checked'));
      });
    })
  </script>
  <script src="{% static 'plugins/summernote/summernote-bs4.min.js' %}"></script>
  <script>
    $(function () {
      $('.textarea').summernote()
    })
  </script>
  <script>
    $(function () {
      $("#example1").DataTable();
      $('#example2').DataTable({
        "paging": true,
        "lengthChange": false,
        "searching": false,
        "ordering": true,
        "info": true,
        "autoWidth": false,
      });
    });
  </script>
  <script>
    function exportF(elem) {
      var example1 = document.getElementById("example1");
      var html = example1.outerHTML;
      var url = 'data:application/vnd.ms-excel,' + escape(html);
      elem.setAttribute("href", url);
      elem.setAttribute("download", "export.xls");
      return false;
    }
  </script>
  <script>
    function ExportToTable() {
      var regex = /^([a-zA-Z0-9\s_\\.\-:])+(.xlsx|.xls)$/;
      /*Checks whether the file is a valid excel file*/
      if (regex.test($("#excelfile").val().toLowerCase())) {
        var xlsxflag = false; /*Flag for checking whether excel is .xls format or .xlsx format*/
        if ($("#excelfile").val().toLowerCase().indexOf(".xlsx") > 0) {
          xlsxflag = true;
        }
        /*Checks whether the browser supports HTML5*/
        if (typeof (FileReader) != "undefined") {
          var reader = new FileReader();
          reader.onload = function (e) {
            var data = e.target.result;
            /*Converts the excel data in to object*/
            if (xlsxflag) {
              var workbook = XLSX.read(data, { type: 'binary' });
            }
            else {
              var workbook = XLS.read(data, { type: 'binary' });
            }
            /*Gets all the sheetnames of excel in to a variable*/
            var sheet_name_list = workbook.SheetNames;

            var cnt = 0; /*This is used for restricting the script to consider only first sheet of excel*/
            sheet_name_list.forEach(function (y) { /*Iterate through all sheets*/
              /*Convert the cell value to Json*/
              if (xlsxflag) {
                var exceljson = XLSX.utils.sheet_to_json(workbook.Sheets[y]);
              }
              else {
                var exceljson = XLS.utils.sheet_to_row_object_array(workbook.Sheets[y]);
              }
              if (exceljson.length > 0 && cnt == 0) {
                BindTable(exceljson, '#exceltable');
                cnt++;
              }
            });
            $('#exceltable').show();
          }
          if (xlsxflag) {/*If excel file is .xlsx extension than creates a Array Buffer from excel*/
            reader.readAsArrayBuffer($("#excelfile")[0].files[0]);
          }
          else {
            reader.readAsBinaryString($("#excelfile")[0].files[0]);
          }
        }
        else {
          alert("Sorry! Your browser does not support HTML5!");
        }
      }
      else {
        alert("Please upload a valid Excel file!");
      }
    }

    function BindTable(jsondata, tableid) {/*Function used to convert the JSON array to Html Table*/
      var columns = BindTableHeader(jsondata, tableid); /*Gets all the column headings of Excel*/
      for (var i = 0; i < jsondata.length; i++) {
        var row$ = $('<tr/>');
        for (var colIndex = 0; colIndex < columns.length; colIndex++) {
          var cellValue = jsondata[i][columns[colIndex]];
          if (cellValue == null)
            cellValue = "";
          row$.append($('<td/>').html(cellValue));
        }
        $(tableid).append(row$);
      }
    }
    function BindTableHeader(jsondata, tableid) {/*Function used to get all column names from JSON and bind the html table header*/
      var columnSet = [];
      var headerTr$ = $('<tr/>');
      for (var i = 0; i < jsondata.length; i++) {
        var rowHash = jsondata[i];
        for (var key in rowHash) {
          if (rowHash.hasOwnProperty(key)) {
            if ($.inArray(key, columnSet) == -1) {/*Adding each unique column names to a variable array*/
              columnSet.push(key);
              headerTr$.append($('<th/>').html(key));
            }
          }
        }
      }
      $(tableid).append(headerTr$);
      return columnSet;
    } 
  </script>
</body>

</html>